.env
.venv
.vscode
venv
__pycache__/
*.pyc
*.pyo
.env
.expo/devices.json
SalesMobileApp
node_modules
.expo/dev/logs/start.log
.expo/README.md
tsconfig.json
package.json
package-lock.json
app.json
external_services
src/sales/__init__.py
src/products/__init__.py
src/analytics/__init__.py
tsconfig.json
app.json
procfile
package-lock.json
package.json